In [ ]:
import pandas as pd

In [ ]:
# df1 = pd.read_csv("/content/new_cars_prices.csv")
df = pd.read_csv("/content/new_cars_prices.csv")

In [ ]:
df

,web-scraper-order,Car Model,Old Price,Price Change,New Price,date_range
0,1680210890-1,Porsche Cayenne A/T / Coupe 2020,"2,262,876\nEGP","trending_down\n-82,876\nEGP","2,180,000\nEGP",18/11/2020
1,1680210890-2,Porsche Cayenne A/T / Coupe 2020,"2,078,727\nEGP","trending_up\n+184,149\nEGP","2,262,876\nEGP",14/10/2019
2,1680210890-3,Porsche Cayenne A/T / S 2020,"2,388,000\nEGP","trending_down\n-93,000\nEGP","2,295,000\nEGP",18/11/2020
3,1680210890-4,Porsche Cayenne A/T / S 2020,"2,262,876\nEGP","trending_up\n+125,124\nEGP","2,388,000\nEGP",15/10/2019
4,1680210890-5,Lexus LX 570 Automtic 2020,"5,600,000\nEGP","trending_down\n-350,000\nEGP","5,250,000\nEGP",18/05/2020
...,...,...,...,...,...,...
3428,1680210890-3429,Citroën C5 Aircross A/T / FEEL / with out sunr...,"779,900\nEGP","trending_up\n+35,000\nEGP","814,900\nEGP",30/11/2022
3429,1680210890-3430,Citroën C5 Aircross A/T / SHINE 2023,"1,149,000\nEGP","trending_up\n+170,000\nEGP","1,319,000\nEGP",27/03/2023
3430,1680210890-3431,Citroën C5 Aircross A/T / SHINE 2023,"1,070,000\nEGP","trending_up\n+79,000\nEGP","1,149,000\nEGP",01/02/2023
3431,1680210890-3432,Citroën C5 Aircross A/T / SHINE 2023,"899,900\nEGP","trending_up\n+170,100\nEGP","1,070,000\nEGP",10/01/2023
3432,1680210890-3433,Citroën C5 Aircross A/T / SHINE 2023,"864,900\nEGP","trending_up\n+35,000\nEGP","899,900\nEGP",30/11/2022

In [ ]:
df.info()
df.head()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3433 entries, 0 to 3432
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   web-scraper-order  3433 non-null   object
 1   Car Model          3433 non-null   object
 2   Old Price          3433 non-null   object
 3   Price Change       3433 non-null   object
 4   New Price          3433 non-null   object
 5   date_range         3433 non-null   object
dtypes: object(6)
memory usage: 161.0+ KB

(3433, 6)

In [ ]:
df.isnull().sum()

web-scraper-order    0
Car Model            0
Old Price            0
Price Change         0
New Price            0
date_range           0
dtype: int64

In [ ]:
# Split Car Full Data into Brand, Model, And Year of The Model

model = df['Car Model'].apply(lambda x: ''.join((x.split()[1],' ',x.split()[2])) if len(x.split()) >4 else x.split()[1])
year = df['Car Model'].apply(lambda x: x.split()[-1])
brand = df['Car Model'].apply(lambda x: x.split()[0])


df['Manufacturer'], df['Model'], df['ProdYear'] = brand,model,year

In [ ]:


# Define a function to classify transmission type
def classify_transmission(model):
    automatic_keywords = ['A/T', 'Automatic', 'Automtic','AT']
    manual_keywords = [ 'Manual\u200f', 'manual\u200f','Manual', 'M/T']

    for keyword in automatic_keywords:
        if keyword in model:
            return 'Automatic'
    for keyword in manual_keywords:
        if keyword in model:
            return 'Manual'
    return 'Unknown'


# Create a new column 'transmission' based on the 'model' column
df['Gear_box_type'] = df['Car Model'].apply(classify_transmission)

print(df)

     web-scraper-order                                          Car Model  \
0         1680210890-1                   Porsche Cayenne A/T / Coupe 2020
1         1680210890-2                   Porsche Cayenne A/T / Coupe 2020
2         1680210890-3                       Porsche Cayenne A/T / S 2020
3         1680210890-4                       Porsche Cayenne A/T / S 2020
4         1680210890-5                         Lexus LX 570 Automtic 2020
...                ...                                                ...
3428   1680210890-3429  Citroën C5 Aircross A/T / FEEL / with out sunr...
3429   1680210890-3430               Citroën C5 Aircross A/T / SHINE 2023
3430   1680210890-3431               Citroën C5 Aircross A/T / SHINE 2023
3431   1680210890-3432               Citroën C5 Aircross A/T / SHINE 2023
3432   1680210890-3433               Citroën C5 Aircross A/T / SHINE 2023

           Old Price                  Price Change       New Price  \
0     2,262,876\nEGP   trending_down\n-82,876\nEGP  2,180,000\nEGP
1     2,078,727\nEGP    trending_up\n+184,149\nEGP  2,262,876\nEGP
2     2,388,000\nEGP   trending_down\n-93,000\nEGP  2,295,000\nEGP
3     2,262,876\nEGP    trending_up\n+125,124\nEGP  2,388,000\nEGP
4     5,600,000\nEGP  trending_down\n-350,000\nEGP  5,250,000\nEGP
...              ...                           ...             ...
3428    779,900\nEGP     trending_up\n+35,000\nEGP    814,900\nEGP
3429  1,149,000\nEGP    trending_up\n+170,000\nEGP  1,319,000\nEGP
3430  1,070,000\nEGP     trending_up\n+79,000\nEGP  1,149,000\nEGP
3431    899,900\nEGP    trending_up\n+170,100\nEGP  1,070,000\nEGP
3432    864,900\nEGP     trending_up\n+35,000\nEGP    899,900\nEGP

      date_range Manufacturer        Model ProdYear Gear_box_type
0     18/11/2020      Porsche  Cayenne A/T     2020     Automatic
1     14/10/2019      Porsche  Cayenne A/T     2020     Automatic
2     18/11/2020      Porsche  Cayenne A/T     2020     Automatic
3     15/10/2019      Porsche  Cayenne A/T     2020     Automatic
4     18/05/2020        Lexus       LX 570     2020     Automatic
...          ...          ...          ...      ...           ...
3428  30/11/2022      Citroën  C5 Aircross     2023     Automatic
3429  27/03/2023      Citroën  C5 Aircross     2023     Automatic
3430  01/02/2023      Citroën  C5 Aircross     2023     Automatic
3431  10/01/2023      Citroën  C5 Aircross     2023     Automatic
3432  30/11/2022      Citroën  C5 Aircross     2023     Automatic

[3433 rows x 10 columns]

In [ ]:
unique_entries = df['Gear_box_type'].unique()

In [ ]:
unique_entries

array(['Automatic', 'Manual', 'Unknown'], dtype=object)

In [ ]:

# def get_category(value):
#     if value in ['Automatic', 'A/T', 'AT']:
#         return "automatic"
#     elif value in ['Manual', 'M/T', 'Manual\u200f']:
#         return "manual"
#     else:
#         return "unknown"

# df['Gear_box_type'] = df['Gear_box_type'].apply(get_category)

In [ ]:
df

,web-scraper-order,Car Model,Old Price,Price Change,New Price,date_range,Manufacturer,Model,ProdYear,Gear_box_type
0,1680210890-1,Porsche Cayenne A/T / Coupe 2020,"2,262,876\nEGP","trending_down\n-82,876\nEGP","2,180,000\nEGP",18/11/2020,Porsche,Cayenne A/T,2020,Automatic
1,1680210890-2,Porsche Cayenne A/T / Coupe 2020,"2,078,727\nEGP","trending_up\n+184,149\nEGP","2,262,876\nEGP",14/10/2019,Porsche,Cayenne A/T,2020,Automatic
2,1680210890-3,Porsche Cayenne A/T / S 2020,"2,388,000\nEGP","trending_down\n-93,000\nEGP","2,295,000\nEGP",18/11/2020,Porsche,Cayenne A/T,2020,Automatic
3,1680210890-4,Porsche Cayenne A/T / S 2020,"2,262,876\nEGP","trending_up\n+125,124\nEGP","2,388,000\nEGP",15/10/2019,Porsche,Cayenne A/T,2020,Automatic
4,1680210890-5,Lexus LX 570 Automtic 2020,"5,600,000\nEGP","trending_down\n-350,000\nEGP","5,250,000\nEGP",18/05/2020,Lexus,LX 570,2020,Automatic
...,...,...,...,...,...,...,...,...,...,...
3428,1680210890-3429,Citroën C5 Aircross A/T / FEEL / with out sunr...,"779,900\nEGP","trending_up\n+35,000\nEGP","814,900\nEGP",30/11/2022,Citroën,C5 Aircross,2023,Automatic
3429,1680210890-3430,Citroën C5 Aircross A/T / SHINE 2023,"1,149,000\nEGP","trending_up\n+170,000\nEGP","1,319,000\nEGP",27/03/2023,Citroën,C5 Aircross,2023,Automatic
3430,1680210890-3431,Citroën C5 Aircross A/T / SHINE 2023,"1,070,000\nEGP","trending_up\n+79,000\nEGP","1,149,000\nEGP",01/02/2023,Citroën,C5 Aircross,2023,Automatic
3431,1680210890-3432,Citroën C5 Aircross A/T / SHINE 2023,"899,900\nEGP","trending_up\n+170,100\nEGP","1,070,000\nEGP",10/01/2023,Citroën,C5 Aircross,2023,Automatic
3432,1680210890-3433,Citroën C5 Aircross A/T / SHINE 2023,"864,900\nEGP","trending_up\n+35,000\nEGP","899,900\nEGP",30/11/2022,Citroën,C5 Aircross,2023,Automatic

In [ ]:
df['Model'].unique()

In [ ]:
df['Model'] = df['Model'].str.replace(' A/T| M/T|Automatic|Automtic|MT\u200f|Manual\u200f|manual\u200f|Manual|/', '')

<ipython-input-13-241f7d627da5>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Model'] = df['Model'].str.replace(' A/T| M/T|Automatic|Automtic|MT\u200f|Manual\u200f|manual\u200f|Manual|/', '')

In [ ]:
df['Model'].unique()

In [ ]:

Price_variation=df['Price Change'].apply(lambda x: x.split()[0])

Price_change=df['Price Change'].apply(lambda x: x.split()[1])

df['Price_variation'], df['Price_change']= Price_variation,Price_change

In [ ]:
df

,web-scraper-order,Car Model,Old Price,Price Change,New Price,date_range,Manufacturer,Model,ProdYear,Gear_box_type,Price_variation,Price_change
0,1680210890-1,Porsche Cayenne A/T / Coupe 2020,"2,262,876\nEGP","trending_down\n-82,876\nEGP","2,180,000\nEGP",18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,"-82,876"
1,1680210890-2,Porsche Cayenne A/T / Coupe 2020,"2,078,727\nEGP","trending_up\n+184,149\nEGP","2,262,876\nEGP",14/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,"+184,149"
2,1680210890-3,Porsche Cayenne A/T / S 2020,"2,388,000\nEGP","trending_down\n-93,000\nEGP","2,295,000\nEGP",18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,"-93,000"
3,1680210890-4,Porsche Cayenne A/T / S 2020,"2,262,876\nEGP","trending_up\n+125,124\nEGP","2,388,000\nEGP",15/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,"+125,124"
4,1680210890-5,Lexus LX 570 Automtic 2020,"5,600,000\nEGP","trending_down\n-350,000\nEGP","5,250,000\nEGP",18/05/2020,Lexus,LX 570,2020,Automatic,trending_down,"-350,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
3428,1680210890-3429,Citroën C5 Aircross A/T / FEEL / with out sunr...,"779,900\nEGP","trending_up\n+35,000\nEGP","814,900\nEGP",30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,"+35,000"
3429,1680210890-3430,Citroën C5 Aircross A/T / SHINE 2023,"1,149,000\nEGP","trending_up\n+170,000\nEGP","1,319,000\nEGP",27/03/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,"+170,000"
3430,1680210890-3431,Citroën C5 Aircross A/T / SHINE 2023,"1,070,000\nEGP","trending_up\n+79,000\nEGP","1,149,000\nEGP",01/02/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,"+79,000"
3431,1680210890-3432,Citroën C5 Aircross A/T / SHINE 2023,"899,900\nEGP","trending_up\n+170,100\nEGP","1,070,000\nEGP",10/01/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,"+170,100"
3432,1680210890-3433,Citroën C5 Aircross A/T / SHINE 2023,"864,900\nEGP","trending_up\n+35,000\nEGP","899,900\nEGP",30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,"+35,000"

In [ ]:
# Convert Average price, Minimum price, Maximum price to Numerical Values

for i in ['Old Price','New Price','Price_change']:
    df[i] = df[i].apply(lambda x : float((str(x).replace(',','')).split()[0]))

df['Price_change'] = df['Price_change'].abs()

In [ ]:
df

,web-scraper-order,Car Model,Old Price,Price Change,New Price,date_range,Manufacturer,Model,ProdYear,Gear_box_type,Price_variation,Price_change
0,1680210890-1,Porsche Cayenne A/T / Coupe 2020,2262876.0,"trending_down\n-82,876\nEGP",2180000.0,18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,82876.0
1,1680210890-2,Porsche Cayenne A/T / Coupe 2020,2078727.0,"trending_up\n+184,149\nEGP",2262876.0,14/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,184149.0
2,1680210890-3,Porsche Cayenne A/T / S 2020,2388000.0,"trending_down\n-93,000\nEGP",2295000.0,18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,93000.0
3,1680210890-4,Porsche Cayenne A/T / S 2020,2262876.0,"trending_up\n+125,124\nEGP",2388000.0,15/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,125124.0
4,1680210890-5,Lexus LX 570 Automtic 2020,5600000.0,"trending_down\n-350,000\nEGP",5250000.0,18/05/2020,Lexus,LX 570,2020,Automatic,trending_down,350000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3428,1680210890-3429,Citroën C5 Aircross A/T / FEEL / with out sunr...,779900.0,"trending_up\n+35,000\nEGP",814900.0,30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,35000.0
3429,1680210890-3430,Citroën C5 Aircross A/T / SHINE 2023,1149000.0,"trending_up\n+170,000\nEGP",1319000.0,27/03/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,170000.0
3430,1680210890-3431,Citroën C5 Aircross A/T / SHINE 2023,1070000.0,"trending_up\n+79,000\nEGP",1149000.0,01/02/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,79000.0
3431,1680210890-3432,Citroën C5 Aircross A/T / SHINE 2023,899900.0,"trending_up\n+170,100\nEGP",1070000.0,10/01/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,170100.0
3432,1680210890-3433,Citroën C5 Aircross A/T / SHINE 2023,864900.0,"trending_up\n+35,000\nEGP",899900.0,30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,35000.0

In [ ]:
columns_to_drop = ['Car Model', 'Price Change','web-scraper-order']
df = df.drop(columns_to_drop, axis=1)

In [ ]:
df

,Old Price,New Price,date_range,Manufacturer,Model,ProdYear,Gear_box_type,Price_variation,Price_change
0,2262876.0,2180000.0,18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,82876.0
1,2078727.0,2262876.0,14/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,184149.0
2,2388000.0,2295000.0,18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,93000.0
3,2262876.0,2388000.0,15/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,125124.0
4,5600000.0,5250000.0,18/05/2020,Lexus,LX 570,2020,Automatic,trending_down,350000.0
...,...,...,...,...,...,...,...,...,...
3428,779900.0,814900.0,30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,35000.0
3429,1149000.0,1319000.0,27/03/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,170000.0
3430,1070000.0,1149000.0,01/02/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,79000.0
3431,899900.0,1070000.0,10/01/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,170100.0
3432,864900.0,899900.0,30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,35000.0

In [ ]:
df

,Old Price,New Price,date_range,Manufacturer,Model,ProdYear,Gear_box_type,Price_variation,Price_change
0,2262876.0,2180000.0,18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,82876.0
1,2078727.0,2262876.0,14/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,184149.0
2,2388000.0,2295000.0,18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,93000.0
3,2262876.0,2388000.0,15/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,125124.0
4,5600000.0,5250000.0,18/05/2020,Lexus,LX 570,2020,Automatic,trending_down,350000.0
...,...,...,...,...,...,...,...,...,...
3428,779900.0,814900.0,30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,35000.0
3429,1149000.0,1319000.0,27/03/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,170000.0
3430,1070000.0,1149000.0,01/02/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,79000.0
3431,899900.0,1070000.0,10/01/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,170100.0
3432,864900.0,899900.0,30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,35000.0

In [ ]:
sorted(df['Manufacturer'].unique())

In [ ]:
df = df.rename(columns={'Old Price':'Old_Price',	'New Price':'New_Price'})

In [ ]:
df

,Old_Price,New_Price,date_range,Manufacturer,Model,ProdYear,Gear_box_type,Price_variation,Price_change
0,2262876.0,2180000.0,18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,82876.0
1,2078727.0,2262876.0,14/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,184149.0
2,2388000.0,2295000.0,18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,93000.0
3,2262876.0,2388000.0,15/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,125124.0
4,5600000.0,5250000.0,18/05/2020,Lexus,LX 570,2020,Automatic,trending_down,350000.0
...,...,...,...,...,...,...,...,...,...
3428,779900.0,814900.0,30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,35000.0
3429,1149000.0,1319000.0,27/03/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,170000.0
3430,1070000.0,1149000.0,01/02/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,79000.0
3431,899900.0,1070000.0,10/01/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,170100.0
3432,864900.0,899900.0,30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,35000.0

In [ ]:
df.dtypes

Old_Price          float64
New_Price          float64
date_range          object
Manufacturer        object
Model               object
ProdYear            object
Gear_box_type       object
Price_variation     object
Price_change       float64
dtype: object

In [ ]:
df['ProdYear'] = df['ProdYear'].astype(int)

In [ ]:
df.dtypes

Old_Price          float64
New_Price          float64
date_range          object
Manufacturer        object
Model               object
ProdYear             int64
Gear_box_type       object
Price_variation     object
Price_change       float64
dtype: object

In [ ]:
df[df['New_Price'] != '18/11/2020']

,Old_Price,New_Price,date_range,Manufacturer,Model,ProdYear,Gear_box_type,Price_variation,Price_change
0,2262876.0,2180000.0,18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,82876.0
1,2078727.0,2262876.0,14/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,184149.0
2,2388000.0,2295000.0,18/11/2020,Porsche,Cayenne,2020,Automatic,trending_down,93000.0
3,2262876.0,2388000.0,15/10/2019,Porsche,Cayenne,2020,Automatic,trending_up,125124.0
4,5600000.0,5250000.0,18/05/2020,Lexus,LX 570,2020,Automatic,trending_down,350000.0
...,...,...,...,...,...,...,...,...,...
3428,779900.0,814900.0,30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,35000.0
3429,1149000.0,1319000.0,27/03/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,170000.0
3430,1070000.0,1149000.0,01/02/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,79000.0
3431,899900.0,1070000.0,10/01/2023,Citroën,C5 Aircross,2023,Automatic,trending_up,170100.0
3432,864900.0,899900.0,30/11/2022,Citroën,C5 Aircross,2023,Automatic,trending_up,35000.0

In [ ]:
import pandas as pd
from datetime import datetime



# Convert the date_range column to datetime format
df['date_range'] = pd.to_datetime(df['date_range'], format='%d/%m/%Y')

# Convert the date_range column to string format in YYYY-MM-DD format
df['date_range'] = df['date_range'].dt.strftime('%Y-%m-%d')

In [ ]:
df['date_range']

0       2020-11-18
1       2019-10-14
2       2020-11-18
3       2019-10-15
4       2020-05-18
           ...
3428    2022-11-30
3429    2023-03-27
3430    2023-02-01
3431    2023-01-10
3432    2022-11-30
Name: date_range, Length: 3433, dtype: object

In [ ]:
#df.to_csv("new_cars_df_cleaned.csv", index=False)

In [ ]:
sorted(df['Model'].unique().tolist())

In [ ]:
# check for white spaces in string values in all columns
for col in df.columns:
    # convert non-string values to string
    mask = df[col].apply(lambda x: str(x)).str.contains(r'^\s|\s$')
   
    num_spaces = mask.sum()
    if num_spaces > 0:
      print(f'Column "{col}" contains {num_spaces} values with white spaces.')
    else:
      print("null")

null
null
null
null
Column "Model" contains 317 values with white spaces.
null
null
null
null

In [ ]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [ ]:
# check for white spaces in string values in all columns
for col in df.columns:
    # convert non-string values to string
    mask = df[col].apply(lambda x: str(x)).str.contains(r'^\s|\s$')
   
    num_spaces = mask.sum()
    if num_spaces > 0:
      print(f'Column "{col}" contains {num_spaces} values with white spaces.')
    else:
      print("null")

null
null
null
null
null
null
null
null
null

In [ ]:
df.to_csv("new_cars_df_cleaned.csv", index=False)